#header {
    transition: all 1s ease;
    width:fit-content;
    display: flex; flex-direction: row; justify-content: center;
}

#main {
    position: relative;
    width: auto;
}

#prefix {
    position: absolute; left: 0; transform: translate(0%); transition: transform 250ms;
}

#suffix {
    position: absolute; right: 0; transform: translate(0%); transition: transform 250ms;
}