.container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    position: relative;
    text-decoration: none; color: inherit;
  }
  
  .prefix {
    position: absolute;
    left: 0;
    z-index: -1;
    transform: translate(0%);
    transition: transform 250ms;
    text-decoration: none; color: inherit;
    width: max-content;
  }
  
  .header:hover .prefix {
    transform: translate(-100%);
  }
  
  .suffix {
    position: absolute;
    right: 0;
    z-index: -1;
    transform: translate(0%);
    transition: transform 250ms;
    text-decoration: none; color: inherit;
    width: max-content;
  }
  
  .header:hover .suffix {
    transform: translate(100%);
  }