a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.tagcontainer {
    width: max-content;
    float: left;
    justify-content: left;
    align-items: left;
    margin-left: 10px;
    background-color: rgb(13, 12, 14);
  }
  
  .tagheader {
    position: relative;
    background-color: rgb(13, 12, 14);
    z-index: 10;
    color: whitesmoke
  }
  
  .tagsuffix {
    position: absolute;
    right: 0;
    z-index: -1;
    transform: translate(100%);
    opacity: 1;
    transition: transform 250ms, opacity 200ms; ;
    width: max-content;
    color: whitesmoke
  }
  
  .tagheader:hover .tagsuffix {
    opacity: 0;
    transform: translate(0%);
  }
  
  .forhire {
    position: absolute;
    right: 0;
    z-index: -1;
    transform: translate(0%);
    opacity: 0;
    transition: transform 250ms, opacity 200ms; ;
    width: max-content;
    color: whitesmoke
  }
  
  .tagheader:hover .forhire {
    opacity: 1;
    transform: translate(100%);
  }

.contactcontainer {
    width: max-content;
    float: left;
    margin-left: 10px;
    margin-top: 50px;
    background-color: rgb(13, 12, 14);
    }

    .contactheader {
        position: relative;
        background-color: rgb(13, 12, 14);
        z-index: 10;
        color: whitesmoke
    }