#embedHolder {
    text-align: left;
}

#imageContainer {
    float: left;
    margin: 0 15px 0 0;
    padding: 0 5 110 110;
    transition-duration: 1s;
    transform-origin:top right;
}

#textContainer {
    transition-duration: 1s;
}