#embedHolder {
    text-align: left;
}

#imageContainer {
    float: left;
    padding-left: 110px;
    padding-bottom: 110px;
    transition-duration: 1s;
    transform-origin:top right;
}

#textContainer {
    transition: opacity 1s ease-out;
}