.App {
  text-align: center;
  background-color: rgb(13, 12, 14);
  width: 100vw; overflow-x: hidden;
}

.App-header {
  background-color: rgb(13, 12, 14);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
