.App {
  text-align: center;
  background-color: rgb(13, 12, 14);
  min-height: 100vh;
}

.App-header {
  background-color: rgb(13, 12, 14);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  color: white
}

#root {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: clip;
}

.embedcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5em
}

@media only screen and (max-width: 940px)  {
  .embedcontainer {grid-template-columns: 1fr;}
}
