.App {
  text-align: center;
  background-color: rgb(41, 22, 44);
  color: whitesmoke
}

.App-header {
  background-color: rgb(41, 22, 44);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke
}

.App-link {
  color: #61dafb;
}
